/* header style */

.headerpic{
    background-image: url('../images/background.jpg');
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container{
    max-width: 1088px;
    width: 80%;
    margin: 0 auto;
}

.flex-header{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.nav-ul{
    display: flex;
}

.nav-li{
    margin-right: 49px;
}

.nav-li:last-child{
    margin-right: 0;
}

.nav-li a, .logo, .text, .headingmain, .heading3, .logo2, .copy{
    font-family: 'Poppins';
    text-transform: capitalize;
    color: #ffffff;
}

.nav-li a{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.burger{
    display: none;
}

.logo, .text, .heading3, .copy{
    font-size: 14px;
}

.logo, .heading3{
    font-weight: bold;
}

.text{
    font-weight: 500;
}

.active{
    color: #5863F8;
}


.headingmain, .heading2{
    width: 332px;
    font-size: 42px;
    font-weight: 800;
}

.headingbox{
    max-width: 200px;
    width: 100%;
    margin-top: 8%;
    margin-left: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; 
}

.divider{
    width: 2px;
    height: 14px;
    background-color: #ffffff;
    margin: 18px 18px 0 18px;
}

.flex2{
    display: flex;
}

/* SECTION1 */

.section1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.aboutus{
    max-width:  440px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pictures{
    width: 536px;
    height: 100%;
}

.heading3{
    color: #5863F8;
    text-transform: uppercase;
}

.heading2, .text2{
    color: #000000;
    margin-top: 10px;
}

.heading2{
    width: 360px;
}

.text2{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
}

.button{
    width: 184px;
    height: 50px;
    background-color: #5863F8;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
    cursor: pointer;
}

.fa-arrow-right{
    color: #ffffff;
    font-size: 13px;
}

.read{
    font-family: 'Poppins';
    color: #ffffff;
    font-size: 14px;
    margin-right: 20px;
}

.row1{
    width: 536px;
    margin-bottom: 14px;
}

.pic1{
    margin-right: 12px;
}


/* SECTION2 */

.section2{
    background-image: url('../images/background2.jpg');
    width: 100%;
    height: 612px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 92px;
}

.container{
    max-width: 1088px;
    margin: 0 auto;
}

.headingmain{
    margin-top: 10px;
}

.boxes{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    flex-wrap: wrap;
}

.box{
    width: 23%;
    height: 260px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text3{
    width: 150px;
}

.heading4{
    width: 150px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
}

.box p{
    width: 221px;
    text-align: center;
    margin-top: 24px;
}


.bluebox{
    width: 59px;
    height: 58px;
    background-color: #5863F8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel{
    width: 33px;
    height: 33px;
}

/* SECTION3 */

.section3{
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonials{
    width:  442px;
    margin: 76px 20px 0 78px;
}

.client{
    display: flex;
    margin: 34px 0 20px 0;
}

.face{
    margin-right: 19px;
}

.heading2{
    width: 432px;
}

.text5{
    width: 352px;
}

.room{
    width: 583px;
    height: 487px;
}

/* SECTION4 */

.container2{
    padding-top: 90px;
}

.pictures2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pictures2 img{
    max-width: 30%;
}

.text4{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}

/* FOOTER */

.footer{
    width: 100%;
    background-color: #121212;
    padding: 90px 0 40px 0;
}

.container3{
    max-width: 1088px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-bottom: 54px;
    flex-wrap: wrap;
}

.fa-envelope, .fa-phone, .fa-location-dot{
    color: #5863F8;
}

.box2 ul li{
    color:  #5863F8;
    margin-bottom: 11px;
}

.box2:nth-child(1){
    width: 260px;
}

.logo2{
    font-size: 18px;
    font-weight: bold;
}

.heading5{
    margin-bottom: 21px;
}

.text{
    margin: 22px 0 20px 0;
}

.icons{
    display: flex;
}

.facebook, .googleplus, .twitter{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.facebook{
    background-color: #3B5998;
}

.twitter{
    background-color: #55ACEE; 
}

.googleplus{
    background-color: #DC4E41;
}

.fa-google-plus, .fa-facebook-f, .fa-twitter{
    color: #ffffff;
    font-size: 24px;
}

.copy{
    color: #ffffff;
    margin-top: 54px;
}